#main img{
    max-height: 50vh;
    object-fit: cover;
}
#footer{
    background-color: black;
}
#footer a{
    color: white;
    text-decoration: none;
    
}
#carousel{
    position: relative;
}
#bandera{
    height: 20px;
    width: 20px;
    margin-left: 5px;
}